html
  head
    title=title
    meta(content='charset=UTF-8')
    link(rel="stylesheet", href="css/app.css")
    block head
  body
    div(class="container")
      header
        p App de pruebas con NodeJS y MySQL
      nav
        a(href="/", class="nav-item") Inicio
        a(href="/login", class="nav-item") login
      main
        block content
      aside
      footer
        p rafaelgp87
    block scripts
