* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1px;

  height: 100vh;
}

header {
  grid-area: header;
  background:#2ebf91;
  padding: 0.5em;
}

nav {
  grid-area: nav;
  margin-left: 1px;
  display: flex;
  flex-flow: column;
  background: #8360c3;
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);
  background: linear-gradient(to bottom, #2ebf91, #8360c3);
}

.main {
  grid-area: content;
  background: #8360c3;
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);
  background: linear-gradient(to bottom, #2ebf91, #8360c3);
}

aside {
  grid-area: side;
  margin-right: 1px;
  background: #8360c3;
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);
  background: linear-gradient(to bottom, #2ebf91, #8360c3);
}

footer {
  grid-area: footer;
  color: rgb(214, 211, 211);
  background: -webkit-linear-gradient(to bottom,  #8360c3, rgba(0, 0, 0, 0.9));
  background: linear-gradient(to bottom, #8360c3, rgba(0, 0, 0, 0.9));
  padding: 0.5em;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(3em, auto) /* Nav */
      1fr /* Content */
      auto /* Sidebar */
      auto; /* Footer */
  }

  header {
    display: none;
  }

  nav {
    background:#2ebf91;
    margin-left: 0;
    position: fixed;
    height: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  aside {
    display: none;
  }

  .nav-item {
    height: 100%;
  }
}

.nav-item {
  margin: 0.2em;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background:rgba(0,0,0,0.5);
  color: rgb(214, 211, 211);
  text-decoration: none;
}

.nav-item:hover {
  background:rgba(0,0,0,0.3);
}

/* otros estilos */
.error,
.required {
  color: red;
}

.mensaje {
  color: green;
}

.formularios {
  display: block;
}

.formulario {
  width: 100%;
  background:rgba(0,0,0,0.5);
  color: rgb(214, 211, 211);
  text-align: center;
  display: block;
  padding: 1em;
  margin-top: 0.5em;
}

.formulario div {
  margin: 1em;
}

#reenviar-password {
  cursor: pointer;
}

.button {
  color: rgb(214, 211, 211);
  background:rgba(0,0,0,0.5);
  padding: 0.5em;
  width: 15em;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}
