* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

}

.grid-container {
  height: auto;
  width: auto;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: auto 60% auto;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px;
}

header {
  grid-area: header;
}

.menu{
  height: 40px;
  background:rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap:wrap;
}

.menu-item {
  font-weight:600;
  height: 100%;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
}

.menu-item-text {
  color:#ffffff;
  padding: 1em;
}

.menu-item:hover {
  background:rgba(0,0,0,0.3);
}

.container {
  grid-area: content;
}

footer {
  grid-area: footer;
  background:rgba(0,0,0,0.5);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer p {
  color: rgb(214, 211, 211);
}

/* otros estilos */

#email-usuario-error,
#email-nuevo-error,
.required {
  color: red;
}

#email-nuevo-mensaje,
#email-usuario-mensaje {
  color: green;
}

.formulario-login {
  background:rgba(0,0,0,0.5);
  color: rgb(214, 211, 211);
  text-align: center;
  display: inline-block;
  padding: 1em;
}

.formulario-login, div {
  margin-bottom: 0.5em;
  margin-left: 0px;
}

#reenviar-password {
  cursor: pointer;
}

.button {
  color: rgb(214, 211, 211);
  background:rgba(0,0,0,0.5);
  padding: 0.5em;
  width: 15em;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}
